/* #root > div > div:nth-child(3) > div > div > div.ten.wide.column > div > div > div > div {
    display: none;
} */
#root > div > div:nth-child(3) > div > div > div.ten.wide.column > div > div > div > div > svg > g.chart-legend{
    display: none;
}
#root > div > div:nth-child(3) > div > div > div.ten.wide.column > div > div > div > svg > g.line-chart.chart-draw-area > g.y.axis{
    display: none;
}
#root > div > div:nth-child(3) > div > div > div.ten.wide.column > div > div > div > div > svg > g.line-chart.chart-draw-area > g.y.axis {
    display: none;
}

.boxShadow {
  box-shadow:         3px 3px 5px 6px #ccc;
  border-radius: 5px;

}